src/flows/Reward_First_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>post_to_chatter</name>
        <label>post to chatter</label>
        <locationX>754</locationX>
        <locationY>75</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>flow ran</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>FirstContactCreation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>First Contact Creation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Atleast_One_Contact_exists</name>
        <label>Atleast One Contact exists</label>
        <locationX>329</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnedContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reward_Event</targetReference>
            </connector>
            <label>No Contact</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Reward First Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reward First Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reward_Event</name>
        <label>Create Reward Event</label>
        <locationX>621</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>post_to_chatter</targetReference>
        </connector>
        <inputAssignments>
            <field>Reward_External_Id__c</field>
            <value>
                <elementReference>FirstContactCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Id__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>Reward_Event__e</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Currently_Owned_Contacts</name>
        <label>Get Currently Owned Contacts</label>
        <locationX>130</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atleast_One_Contact_exists</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CurrentContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>OwnedContacts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Currently_Owned_Contacts</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RewardEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reward_Event__e</objectType>
    </variables>
</Flow>
